# Group 10 ETL Project

Import all packs

In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import pandas as pd

Grab the URL and scrape the data needed

In [2]:
engine = create_engine("sqlite:///Resources/mlsseasons.sqlite", echo=False)

In [6]:
    url = f"https://www.mlssoccer.com/standings/supporters-shield/2018/"
    print(url)
    tables = pd.read_html(url)
    df = tables[0]
    df.columns = ['#','Club','PTS','PPG','NaN0','GP','W','L','T','GF','GA','GD','NaN1','(H)W-L-T','NaN2','(A)W-L-T']
    df.drop(columns=['NaN0','NaN1','NaN2'], inplace=True)
    df.drop([0],inplace= True)
    df.set_index('#', inplace=True)
    df["season"] = 9999
    df

https://www.mlssoccer.com/standings/supporters-shield/2018/

,Club,PTS,PPG,GP,W,L,T,GF,GA,GD,(H)W-L-T,(A)W-L-T,season
#,,,,,,,,,,,,,
1,RBNYNew York Red Bulls,71,2.09,34,22,7,5,62,33,29,14-2-1,8-5-4,9999
2,ATLAtlanta United FC,69,2.03,34,21,7,6,70,44,26,11-2-4,10-5-2,9999
3,SKCSporting Kansas City,62,1.82,34,18,8,8,65,40,25,10-2-5,8-6-3,9999
4,SEASeattle Sounders FC,59,1.74,34,18,11,5,52,37,15,10-5-2,8-6-3,9999
5,LAFCLos Angeles Football Club,57,1.68,34,16,9,9,68,52,16,9-1-7,7-8-2,9999
6,DALFC Dallas,57,1.68,34,16,9,9,52,44,8,10-2-5,6-7-4,9999
7,NYCNew York City FC,56,1.65,34,16,10,8,59,45,14,12-1-4,4-9-4,9999
8,PORPortland Timbers,54,1.59,34,15,10,9,54,48,6,11-2-4,4-8-5,9999
9,DCD.C. United,51,1.5,34,14,11,9,60,50,10,13-2-2,1-9-7,9999
10,CLBColumbus Crew SC,51,1.5,34,14,11,9,43,45,-2,11-2-4,3-9-5,9999
11,PHIPhiladelphia Union,50,1.47,34,15,14,5,49,50,-1,9-6-2,6-8-3,9999
12,RSLReal Salt Lake,49,1.44,34,14,13,7,55,58,-3,11-2-4,3-11-3,9999
13,LALA Galaxy,48,1.41,34,13,12,9,66,64,2,8-5-4,5-7-5,9999
14,VANVancouver Whitecaps FC,47,1.38,34,13,13,8,54,67,-13,7-5-5,6-8-3,9999
15,MTLMontreal Impact,46,1.35,34,14,16,4,47,53,-6,11-4-2,3-12-2,9999
16,NENew England Revolution,41,1.21,34,10,13,11,49,55,-6,8-4-5,2-9-6,9999
17,HOUHouston Dynamo,38,1.12,34,10,16,8,58,58,0,8-6-3,2-10-5,9999
18,MINMinnesota United FC,36,1.06,34,11,20,3,49,71,-22,10-6-1,1-14-2,9999
19,TORToronto FC,36,1.06,34,10,18,6,59,64,-5,8-7-2,2-11-4,9999
20,CHIChicago Fire FC,32,0.94,34,8,18,8,48,61,-13,6-7-4,2-11-4,9999
21,COLColorado Rapids,31,0.91,34,8,19,7,36,63,-27,6-8-3,2-11-4,9999
22,ORLOrlando City SC,28,0.82,34,8,22,4,43,74,-31,6-7-4,2-15-0,9999
23,SJSan Jose Earthquakes,21,0.62,34,4,21,9,49,71,-22,2-9-6,2-12-3,9999

In [7]:
engine.execute("drop table seasons")
for year in range(2007, 2019):
    url = f"https://www.mlssoccer.com/standings/supporters-shield/{year}/"
    print(url)
    tables = pd.read_html(url)
    df = tables[0]
    df.columns = ['#','Club','PTS','PPG','NaN0','GP','W','L','T','GF','GA','GD','NaN1','(H)W-L-T','NaN2','(A)W-L-T']
    df.drop(columns=['NaN0','NaN1','NaN2'], inplace=True)
    df.drop([0],inplace= True)
    df.set_index('#', inplace=True)
    df["season"] = year
    df.to_sql("seasons", con=engine, if_exists='append')

engine.execute("select count(*) from seasons").first()

https://www.mlssoccer.com/standings/supporters-shield/2007/
https://www.mlssoccer.com/standings/supporters-shield/2008/
https://www.mlssoccer.com/standings/supporters-shield/2009/
https://www.mlssoccer.com/standings/supporters-shield/2010/
https://www.mlssoccer.com/standings/supporters-shield/2011/
https://www.mlssoccer.com/standings/supporters-shield/2012/
https://www.mlssoccer.com/standings/supporters-shield/2013/
https://www.mlssoccer.com/standings/supporters-shield/2014/
https://www.mlssoccer.com/standings/supporters-shield/2015/
https://www.mlssoccer.com/standings/supporters-shield/2016/
https://www.mlssoccer.com/standings/supporters-shield/2017/
https://www.mlssoccer.com/standings/supporters-shield/2018/

(218,)

Read salaries CSV file to pandas and write to SQL database

In [7]:
sal = pd.read_csv("Resources/MLS_Salaries.csv", encoding='UTF-16', sep="\t")
sal['Total Compensation'] = sal['Total Compensation'].replace('[\$,]', '', regex=True).astype(int)
sal['Base Salary'] = sal['Base Salary'].replace('[\$,]', '', regex=True).astype(int)

In [9]:
sal

,Season,Club (grouped),Club,First Name,Last Name,Position,Total Compensation,Base Salary
0,2018,TFC,TOR,Sebastian,Giovinco,F,7115556,5600000
1,2018,TFC,TOR,Michael,Bradley,M,6500000,6000000
2,2018,LAFC,LAFC,Carlos,Vela,F,6292500,4500000
3,2018,CHI,CHI,Bastian,Schweinsteiger,M,6100000,6100000
4,2018,LAG,LA,Giovani,dos Santos,F,6000000,4250000
...,...,...,...,...,...,...,...,...
6214,2007,TFC,TFC,Nana,Attakora-Gyan,D,12900,12900
6215,2007,TFC,TFC,Gabriel,Gala,M,12900,12900
6216,2007,TFC,TFC,David,Guzman,M,12900,12900
6217,2007,TFC,TFC,Stephen,Lumley,D,12900,12900
6218,2007,TFC,TFC,Joey,Melo,M,12900,12900

In [15]:
sal.groupby('Club (grouped)')['Base Salary'].describe()

,count,mean,std,min,25%,50%,75%,max
Club (grouped),,,,,,,,
ATL,63.0,298488.000000,4.117594e+05,53000.0,68203.00,125004.0,332508.00,1912500.0
CHI,338.0,199812.547337,5.316092e+05,12900.0,49400.00,81552.5,155750.00,6100000.0
CHV,233.0,88399.188841,8.965739e+04,12900.0,44000.00,66000.0,105000.00,1000000.0
CLB,340.0,133037.805882,1.658747e+05,12900.0,46500.00,78500.0,150000.00,1175000.0
COL,337.0,152145.373887,2.651415e+05,12900.0,49350.00,75000.0,155250.00,2100000.0
DC,338.0,134597.603550,1.557100e+05,12900.0,48500.00,75000.0,179583.25,1500000.0
FCD,358.0,134156.217877,1.683908e+05,12900.0,48501.00,75000.0,150000.00,1863996.0
HOU,325.0,131959.409231,1.166431e+05,12900.0,53004.00,94500.0,181650.00,750000.0
KC,338.0,146085.908284,1.843519e+05,12900.0,48500.00,76917.5,169850.00,1600000.0
LAFC,28.0,401959.607143,8.450244e+05,54500.0,68561.25,115000.0,462500.00,4500000.0
LAG,345.0,410496.197101,1.057200e+06,12900.0,50004.00,84000.0,175000.00,6200004.0
MLS,8.0,354509.500000,6.105304e+05,67500.0,67500.00,141784.0,212506.00,1850000.0
MNU,60.0,214376.316667,2.267830e+05,53004.0,81875.00,168000.0,290001.00,1650000.0
MTL,209.0,179406.746411,2.437868e+05,33750.0,55654.00,100000.0,200000.00,1666668.0
NE,321.0,148768.838006,2.680428e+05,12900.0,45000.00,75000.0,145000.00,3000000.0
NYC,110.0,622375.272727,1.469340e+06,50000.0,65627.00,124278.5,271250.00,6000000.0
ORL,121.0,354749.504132,1.031188e+06,50000.0,68250.00,110000.0,215000.00,6660000.0
PHI,255.0,162451.450980,2.102955e+05,32604.0,60000.00,96000.0,161000.00,1714286.0
POR,237.0,202467.983122,3.087678e+05,32600.0,60000.00,90000.0,185004.00,2320000.0
RBNY,343.0,282426.973761,7.842970e+05,12900.0,50000.00,80000.0,157998.00,5544000.0
RSL,334.0,143242.616766,1.792343e+05,12900.0,50000.00,81250.0,162855.00,1750000.0
SEA,291.0,256169.048110,6.068642e+05,15300.0,50750.00,75000.0,180000.00,4913004.0
SJ,310.0,147880.632258,1.781343e+05,12900.0,54494.00,90000.0,175000.00,1325004.0
TFC,332.0,380873.084337,1.120330e+06,12900.0,50000.00,80000.0,176250.00,6000000.0
VAN,245.0,176691.791837,2.247799e+05,32600.0,60000.00,90000.0,190000.00,1400000.0

In [14]:
sal.loc[sal['Season'] == 2018]['Base Salary'].describe()

count    6.690000e+02
mean     3.333547e+05
std      6.192844e+05
min      5.449200e+04
25%      6.825400e+04
50%      1.400040e+05
75%      3.500000e+05
max      6.100000e+06
Name: Base Salary, dtype: float64

In [9]:
sal.to_sql("salaries", con=engine, if_exists='replace')
engine.execute("select count(*) from salaries").first()

(6219,)

create a mapping table for joining salaries data to seasons data

In [4]:
engine.execute("drop table club_map")
engine.execute("""create table club_map (
    long_name varchar(255),
    short_name varchar(255),
    real_name varchar(255))""")

In [5]:

engine.execute("""
insert into club_map values
('DCD.C. United','DC', 'D.C. United'),
('CHVChivas USA','CHV', 'Chivas USA'),
('HOUHouston Dynamo','HOU', 'Houston Dynamo'),
('NENew England Revolution','NE', 'New England Revolution'),
('DALFC Dallas','FCD', 'FC Dallas'),
('RBNYNew York Red Bulls','RBNY', 'New York Red Bulls'),
('SKCSporting Kansas City','KC', 'Sporting Kansas City'),
('CHIChicago Fire FC','CHI', 'Chicago Fire FC'),
('CLBColumbus Crew SC','CLB', 'Columbus Crew SC'),
('COLColorado Rapids','COL', 'Colorado Rapids'),
('LALA Galaxy','LAG', 'LA Galaxy'),
('RSLReal Salt Lake','RSL', 'Real Salt Lake'),
('TORToronto FC','TFC', 'Toronto FC'),
('SJSan Jose Earthquakes','SJ', 'San Jose Earthquakes'),
('SEASeattle Sounders FC','SEA', 'Seattle Sounders FC'),
('PHIPhiladelphia Union','PHI', 'Philadelphia Union'),
('PORPortland Timbers','POR', 'Portland Timbers'),
('VANVancouver Whitecaps FC','VAN', 'Vancouver Whitecaps FC'),
('MTLMontreal Impact','MTL', 'Montreal Impact'),
('ORLOrlando City SC','ORL', 'Orlando City SC'),
('NYCNew York City FC','NYC', 'New York City FC'),
('ATLAtlanta United FC','ATL', 'Atlanta United FC'),
('MINMinnesota United FC','MNU', 'Minnesota United FC'),
('LAFCLos Angeles Football Club','LAFC', 'Los Angeles Football Club')
""")

In [6]:
sample=pd.DataFrame(engine.execute("""
select s."First Name", s."Last Name",
c.Club, c.pts, c.season
from seasons c
join club_map m on m.long_name = c.Club
join salaries s on s."Club (grouped)" = m.short_name
where c.season = s.Season
"""),columns=['First Name','Last Name','Club','PTS','Season'])
sample

,First Name,Last Name,Club,PTS,Season
0,None,Carreiro da Silva Fred,DCD.C. United,55,2007
1,Ben,Olsen,DCD.C. United,55,2007
2,Brad,North,DCD.C. United,55,2007
3,Brian,Carroll,DCD.C. United,55,2007
4,Bryan,Arguez,DCD.C. United,55,2007
...,...,...,...,...,...
6206,Quincy,Amarikwa,SJSan Jose Earthquakes,21,2018
6207,Shea,Salinas,SJSan Jose Earthquakes,21,2018
6208,Tommy,Thompson,SJSan Jose Earthquakes,21,2018
6209,"Valeri ""Vako""",Qazaishvili,SJSan Jose Earthquakes,21,2018
6210,Yeferson,Quintana,SJSan Jose Earthquakes,21,2018